<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <!--CSS-->
    <link rel="stylesheet" href="../static/style.css?v=1.1">

     <!--TAILWIND-->
    <script src="https://cdn.tailwindcss.com"></script>

    <!--FAVICON-->
    <link rel="icon" href="{{ url_for('static', filename='media/favicon.ico') }}" type="image/x-icon">

    <title>Resultados de Loteria</title>
    
</head>
<body id="body-index">
    <main class="box">
        <h1>Seleccionar sorteo</h1>
        
        <form class="max-w-sm mx-auto" action="{{ url_for('main.generar') }}" method="post">
            <select name="horario"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                {% for h in horarios %}
                    <option  value="{{h}}">{{h}}</option>
                {% endfor %}
            </select>
            <button class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="submit">Generar Imagen</button>
        </form>
        
        
    </main>
</body>
</html>
