{% extends "base.html" %}

{% block content %}
<div class="card p-4">
    <h1 class="text-center mb-4">Resultado Generado</h1>
    <div class="text-center mb-4">
        
        <img src="{{ url_for('static', filename=imagen) }}" alt="Resultado Quiniela">

    </div>
    <div class="text-center">
        <a href="{{ url_for('index') }}" class="btn btn-primary me-2">Generar Otro Resultado</a>
        <a href="{{ url_for('descargar', filename=imagen) }}" class="btn btn-success">
            <i class="bi bi-download"></i> Descargar Imagen
        </a>
    </div>
</div>
{% endblock %} 